{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/signup.css" />
{% endblock %}

{% block content %}
<main>
  <div class="container">
    <form class="form-signup" method="POST">
      {% csrf_token %}
      <h2 class="form-signup-heading">Login</h2>
      <p>{{ error_msg }}</p>
      <label for="inputUsername" class="sr-only">Username</label>
      <input type="text" id="inputUsername" name="username" class="form-control" placeholder="Username" {% if last.username %}value="{{ last.username }}"{% endif %} required autofocus>
      <label for="inputPassword" class="sr-only">Password</label>
      <input type="password" id="inputConfirmPassword" name="password" class="form-control" placeholder="Password" required>
      <input type="hidden" name="next" value="{{ next }}">
      <div class="checkbox">
        <label>
          <input type="checkbox" value="agreement-me">Remember me
        </label>
      </div>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
    </form>
  </div>
</main>
{% endblock %}
