{% extends "base.html" %}

{% block content %}
{% for article in anthology.articles.all %}
<section class="blog-post">
  <h1 class="blog-post-title"><a href="/articles/{{ article.author.name }}/{{ anthology.name }}/{{ article.id }}">{{ article.title }}</a></h1>
  <p class="blog-post-meta">
    <a href="/articles/{{ article.author.name }}">{{ article.author.name }}</a>
    {{ article.pub_date|date:"r" }}
  </p>
  <p>{% for art_anthology in article.anthologies.all %}
    <a href="/articles/{{ art_anthology.author.name }}/{{ art_anthology.name }}">{{ art_anthology.name }}</a>,
  {% endfor %}</p>
</section>
{% endfor %}
{% if user.author == anthology.author %}
<section class="blog-post">
  <a class="btn btn-primary" href="/articles/{{ anthology.author.name }}/{{ anthology.name }}/new">New Article<a>
</section>
{% endif %}
{% endblock %}
