{% extends "base.html" %}

{% block content %}
{% for anthology in anthologies %}
<section class="blog-post">
  <h1 class="blog-post-title"><a href="/articles/{{ anthology.author }}/{{ anthology.name }}">{{ anthology.name }}</a></h1>
  <p class="blog-post-meta">
    <a href="/articles/{{ anthology.author }}">{{ anthology.author }}</a>
    {{ anthology.create_date|date:"r" }}
  </p>
  <p>{% for article in anthology.articles.all %}
    <a href="/articles/{{ anthology.author }}/{{ anthology.name }}/{{ article.id }}">{{ article.title }}</a>,
  {% endfor %}</p>
</section>
{% endfor %}
{% endblock %}
