{% extends "base.html" %}

{% block content %}
{% for anthology in author_anthologies %}
<section class="blog-post">
  <h1 class="blog-post-title"><a href="/articles/{{ author.name }}/{{ anthology.name }}">{{ anthology.name }}</a></h1>
  <p class="blog-post-meta">
    <a href="/articles/{{ author.name }}">{{ author.name }}</a>
    {{ anthology.created|date:"r" }}
  </p>
  <p>{% for article in anthology.articles.all %}
    <a href="/articles/{{ author.name }}/{{ anthology.name }}/{{ article.id }}">{{ article.title }}</a>,
  {% endfor %}</p>
</section>
{% endfor %}
{% if user.author == author %}
<section class="blog-post">
  <form class="blog-post-title" action="/articles/{{ author.name }}/new">
    <input class="btn btn-primary" type="submit" value="New Anthology">
  </form>
</section>
{% endif %}
{% endblock %}
