{% extends "base.html" %}

{% block content %}
<p>{{ msg }}</p>
{% for anthology in author_anthologies %}
<section class="blog-post">
  <h1 class="blog-post-title"><a href="/articles/{{ author.name }}/{{ anthology.name }}">{{ anthology.name }}</a></h1>
  <p class="blog-post-meta">
    <a href="/articles/{{ author.name }}">{{ author.name }}</a>
    {{ anthology.created|date:"r" }}
  </p>
  <p>{% for article in anthology.articles.all %}
    <a href="/articles/{{ author.name }}/{{ anthology.name }}/{{ article.id }}">{{ article.title }}</a>,
  {% endfor %}</p>
</section>
{% endfor %}
{% if user.author == author %}
<section class="blog-post">
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".new-anthology-modal">New Anthology</button>
  <div class="modal fade new-anthology-modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <form action="/articles/{{ author.name }}" method="post">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" data-target=".new-anthology-modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">New Anthology</h4>
          </div>
          <div class="modal-body">
              {% csrf_token %}
              <input class="form-control" name="anthology_name" type="text" placeholder="New Anthology Name" required autofocus>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal" data-target=".new-anthology-modal">Close</button>
            <button type="submit" class="btn btn-primary">Save changes</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

</section>
{% endif %}
{% endblock %}
