<!DOCTYPE html>
{% load i18n %}
{% load static %}
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>{% block page_title %}Orangez{% endblock %}</title>

    <meta name="description" content="{% block meta_description %}{% endblock %}" />
    <meta name="author" content="{% block meta_author %}{% endblock %}" />
    <meta name="viewport" content="width=device-width" />
    {% block javascript_library %}
    <script src="{% static 'jquery/dist/jquery.js' %}"></script>
    <script src="{% static 'bootstrap/dist/js/bootstrap.js' %}"></script>
    {% endblock javascript_library %}
    {% block javascript %}
    <script src="{% static 'js/main.js' %}"></script>
    {% endblock javascript %}
    {% block css %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    <link rel="stylesheet" href="{% static 'bootstrap/dist/css/bootstrap.css' %}" />
    <link rel="stylesheet" href="{% static 'bootstrap/dist/css/bootstrap-theme.css' %}" />
    {% endblock %}
  </head>

  <body class="{% block body_class %}{% endblock %}">
  {% block body %}
    <!--[if lt IE 7]>
      <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
    <![endif]-->

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/articles" title="oneorange.com">Home</a>
        </div>
        {% if user.is_authenticated %}
        <ul class="nav navbar-right navbar-nav">
          <li><p class="navbar-text">hi, <a href="/articles/{{ user.author.name }}">{{ user.author.name }}</a>!</p></li>
          <li><a href="/accounts/logout">Logout</a></li>
        </ul>
        {% else %}
        <form class="nav navbar-right navbar-nav navbar-form" action="/accounts/login" method="POST">
          {% csrf_token %}
          <input type="text" class="form-control" name="username" placeholder="Username">
          <input type="password" class="form-control" name="password" placeholder="Password">
          <input type="hidden" name="next" value="{{ request.path }}">
          <button type="submit" class="btn btn-default">Login</button>
          <a href="/accounts/signup" class="btn btn-success">Sign Up</a>
        </form>
        {% endif %}
        </div>
      </div>
    </nav>
    <div class="container">
      {% block content %}
      {% for author in authors %}
      <section class="blog-post">
        <h3 class="blog-post-title"><a href="/articles/{{ author.name }}">{{ author.name }}</a></h3>
        <p class="blog-post-meta">{{ author.reg_date|date:"r" }}</p>
        <p>{% for article in author.articles.all %}
          <a href="/articles/{{ author.name }}/{{ 'main' }}/{{ article.id }}">{{ article.title }}</a>,
        {% endfor %}</p>
      </section>
      {% endfor %}
      {% endblock content %}
    </div>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID.
    <script>
      var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
      g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)}(document,'script'));
    </script>
    -->
  {% endblock body %}
  </body>
</html>
