{% extends "base.html" %}
{% load i18n %}
{% block body_class %}{{ block.super }} home{% endblock %}

{% block content %}

<div class="row">
  <aside class="col-md-2">
    <div>{{ article.title }}</div>
  </aside>
  <article class="col-md-7">
    <header class="blog-header">
      <h1 class="blog-title">{{ article.title }}</h1>
      <p class="lead blog-description">
        <a href="/articles/{{ article.author }}">{{ article.author }}</a>
        {{ article.pub_date|date:"Y-m-d" }}
      </p>
    </header>
    <main>{{ article.content|linebreaks }}</main>
  </article>
  <aside class="col-md-3">
  </aside>
</div>
{% endblock %}
